<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
	
	<bean id="connexionFactory" class="com.excilys.connection.ConnectionFactory" />
	
	<bean id="computerDAO" class="com.excilys.dao.ComputerDAO" />
	
	<bean id="companyDAO" class="com.excilys.dao.CompanyDAO" />
	
	<bean id="logDAO" class="com.excilys.dao.LogDAO" />
	
	<bean id="computerService" class="com.excilys.dao.ComputerService" />
	
	<bean id="companyService" class="com.excilys.dao.CompanyService" />
	
	<bean id="logService" class="com.excilys.dao.LogService" />
 
</beans>