<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd 
	http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
	
	<!-- ANNOTATIONS POUR L'INJECTION DE DEPENDANCES -->
	<context:annotation-config />

	<!-- ANNOTATIONS POUR LA CREATION DE BEANS -->
	<context:component-scan base-package="com.excilys" />
	
	<bean id="connectionFactory" class="com.excilys.connection.ConnectionFactory" />
	
	<bean id="computerDAOImpl" class="com.excilys.dao.ComputerDAOImpl" />
	
	<bean id="companyDAOImpl" class="com.excilys.dao.CompanyDAOImpl" />
	
	<bean id="logDAOImpl" class="com.excilys.dao.LogDAOImpl" />
	
	<bean id="logServiceImpl" class="com.excilys.service.LogServiceImpl" >
		<constructor-arg ref="logDAOImpl" />
	</bean>
	
	<bean id="computerService" class="com.excilys.service.ComputerService" >
		<constructor-arg ref="connectionFactory" />
		<constructor-arg ref="computerDAOImpl" />
		<constructor-arg ref="logServiceImpl" />
	</bean>
	
	<bean id="companyService" class="com.excilys.service.CompanyService" >
		<constructor-arg ref="connectionFactory" />
		<constructor-arg ref="companyDAOImpl" />
		<constructor-arg ref="logServiceImpl" />
	</bean>
	
	
 
</beans>